.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
    /* background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%); */
}


.title {
    font-family: var(--font-mono);
    font-size: 25px;
}

.coverimage {
    margin: 30px 0 50px;
    background: white;
    border-radius: 30px;
}

.songtitle {
    font-weight: bold;
}

.play_button {
    margin: 30px;
    background-color: #00008B !important;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.fast_buttons {
    background-color: white !important;
    border-radius: 50%;
    height: 60px;
}